<div class="h_box mainmenubg" id="mmenubar" align="center">
<div class="h_menuspace" id="mmenuspace" ></div>

<div style="display: flex;" >

<div style=" flex: 1 1 auto;" >
<div id="mlogo" class="infoLogo mainLogo"></div>
</div>
<div style=" flex: 1 1 auto;" >
<div class="h_menu" id="mmenu">

  {{#each model.menuItems}}
 <a href="{{path}}" class="h_menubutton" >{{id}}</a>
 {{/each}}

</div>

</div>

<div style=" flex: 1 1 auto; min-width: 200px;" ></div>
 
</div>
   <button class="hambbutton config_hamb" onclick="setMenu()"></button>

   
</div>




<div class="modalBG" id= "modalbg" onclick="setMenuoff()" ></div>

<div class="sld_menu" id="menumini" >

  {{#each model.menuItems}} 
                <button onclick="window.location.href = '{{path}}'" class="sld_button menB" style='top:{{times @index  60 50}}px; right:{{times @index  -100 -400}}px;'  id="mselected" >
                    <div class="" >{{id}} </div>
                </button>
  {{/each}}

</div>
<!-- 
<div class="slide_menu" id="menumini" >
 <div style="    
    width: 500px;
    margin: 0;
    padding: 0;
    height: 78px;">
 <button class="slide_menu_close config_ham" onclick="setMenuoff()"></button>
 </div>
 <div class="slide_menu_title">menu</div>
 <div class="slide_menu_con">

    {{#each model.menuItems}} {{#ifEquals id ../model.PageId}}
                <button onclick="window.location.href = '{{path}}'" class="slide_mini_item" id="mselected" >
                    <div class="">{{id}}</div>
                </button>
                {{else}}
                <button onclick="window.location.href = '{{path}}'" class="slide_mini_item" >
                    <div class="">{{id}}</div>
                </button>
                {{/ifEquals }} {{/each}}

 </div>
-->

</div>
